 hr {
        color:#292828;
        margin-left: 100px;
        border-style: dashed;
        width:450px;
        margin-top: 1px;
        border-top: 2px  dashed #ACAAAA;
      }
      #iw-rating-row{
        margin-top: 10px;
      }


      .iw-rating{
        font-size: 17px;
        margin-left: 100px;
        margin-top: -20px;
        color:#08779a;
        font-weight: bold;

      }
      
      
      .image_place{
        width: 80px;
        height: 80px;
        border-radius: 0;
        float: left;

      }
     
     
      .url_name a{
        font-size: 17px;
        margin-left: 10px;
        color:#08779a;
        margin-left: 20px;
       
      }
    #info-content {
      background: #fff;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      padding: 5px;
      margin-left: 10px;
      margin-bottom: 30px;
      width: 100% !important;
      height: 90px !important;
  }
  .gm-style-iw{
    width: 100% !important;
      height: 90px !important;
      
  }
  .gm-style-iw + div {display: none;}
   
  
  .views{
    margin-left: 100px;
    padding: 2px 0 8px 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;    
    max-width: 400px;
  }